<template>
  <tr>
    <td>
      <v-checkbox color="primary" v-model="itemChecked"></v-checkbox>
    </td>
    <td>
      <div class="pt-3 px-3 body-1">{{item.title}} <v-icon color="primary">mdi-information-outline</v-icon></div>
      <v-rating
              hover
              length="5"
              size="16"
              :value="item.rating"
              color="orange"
      ></v-rating>
    </td>
    <td class="grey--text">
      <div>Buyers Portion: ${{item.buyers}}</div>
      <div>Lenders Portion: ${{item.lenders}}</div>
    </td>
    <td class="body-1">
      ${{item.price}}
    </td>
  </tr>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    props: ['item'],
    data: () => {
      return {
        itemChecked: false
      }
    },
    watch: {
      itemChecked(value) {
        this.$emit('onCheck', value)
      }
    }
  }
</script>
