<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            <v-chip color="primary">
              1
            </v-chip>
            <div class="ml-3" v-text="pageTitle"></div>
          </v-card-title>

          <v-card-text>
            <span>Contingency date: <b class="primary--text">{{contingencyDate}}</b></span>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="8">
                <v-text-field label="Purchasing Price" outlined v-model="purchasingPrice"></v-text-field>
                <v-text-field label="Loan Value" outlined v-model="loanValue"></v-text-field>
              </v-col>
              <v-col cols="4">
                <div class="d-flex align-start">
                  <v-icon>mdi-information-outline</v-icon>
                  <div class="flex-grow-1 ml-2">
                    <h2 class="mb-2">What is Title Insurance?</h2>
                    <p>You may not know if other people have a legitimate claim to ownership over your property.
                      Title insurance will protect you if anyone sues you to decide whose ownership claim is most legitimate ...
                      <a href="#">Learn More</a>
                    </p>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                <tr>
                  <th width="34"></th>
                  <th>
                    Vendors
                  </th>
                  <th>
                    Fee Details
                  </th>
                  <th>
                    Price
                  </th>
                </tr>
                </thead>
                <tbody>
                <CardItem v-for="(item, index) in cards"
                          :key="index"
                          :item="item"
                          @onCheck="onCheckCardItem"
                />
                </tbody>
              </template>
            </v-simple-table>
            <div class="text-center">
              <a href="#">See more vendors ({{cards.length}})</a>
            </div>
          </v-card-text>
          <v-card-text>
            <div class="d-flex">
              <div class="caption grey--text flex-grow-1">Fees are estimated and may vary based on specific requirements of your transaction</div>
              <div class="title font-weight-bold text-right">
                <div class="black--text">Fees due now: $0</div>
                <div class="grey--text">Billed at closing: $1234</div>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import { mapState } from 'vuex'
  import CardItem from '~/components/Card/CardItem.vue'

  export default {
    components: {
      CardItem
    },
    data: () => {
      return {
        pageTitle: 'Title Insurance',
        purchasingPrice: 5000000,
        loanValue: 1000000,
        contingencyDate: '07/23/2020'
      }
    },
    computed: {
      ...mapState('card', ['cards'])
    },
    methods: {
      onCheckCardItem(value) {
        this.$swal(value ? 'You checked!' : 'You unchecked!', '', value ? 'success' : 'error')
      }
    }
  }
</script>
