<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title class="justify-center">
            <h2 v-text="pageTitle"></h2>
          </v-card-title>

          <v-card-text class="text-center" v-text="pageDescription" />

          <v-card-text>
            <v-form ref="form" v-model="formValid">
              <v-container>
                <v-row>
                  <v-col cols="10">
                    <v-text-field label="Address" outlined v-model="form.address" :rules="rules.address"></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <v-text-field label="Apt" outlined v-model="form.apt" :rules="rules.apt"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="4">
                    <v-text-field label="Bed" outlined v-model="form.bed" :rules="rules.numbers"></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field label="Bath" outlined v-model="form.bath" :rules="rules.numbers"></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field label="Building Size" outlined v-model="form.buildingSize" :rules="rules.numbers"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="4">
                    <v-text-field label="Year Built" outlined v-model="form.yearBuilt" :rules="rules.numbers"></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field label="Property Size" outlined v-model="form.propertySize" :rules="rules.numbers"></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field label="Numbers of Floors" outlined v-model="form.numbersOfFloors" :rules="rules.numbers"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <v-select
                            outlined
                            :items="['Residential']"
                            label="PropertyType"
                            v-model="form.propertyType"
                            dense
                    ></v-select>
                  </v-col>
                  <v-col cols="">
                    <v-select
                            outlined
                            :items="['Single Family Residence']"
                            v-model="form.propertyType2"
                            dense
                    ></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>

          <v-card-text>
            <v-row>
              <v-col cols="6" offset="3" align="center">
                <div>
                  <div class="grey--text">Is the information above correct?</div>
                  <div class="mt-3">
                    <v-btn outlined color="primary" @click="setFormCorrecting(false)">No</v-btn>
                    <v-btn color="primary" elevation="0" @click="setFormCorrecting(true)">Yes</v-btn>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text>
            <v-row>
              <v-col cols="6" offset="3">
                <div class="d-flex align-center black--text">
                  <div class="flex-grow-1">What are you doing with this property?:</div>

                  <div class="d-flex align-center">
                    <span>Buying</span>
                    <v-switch
                            class="mx-4"
                            inset
                            v-model="selling"
                    ></v-switch>
                    <span>Selling</span>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
  data: () => {
    return {
      pageTitle: 'Great! We found you address',
      pageDescription: 'Please make sure this information is correct',
      form: {
        address: '',
        apt: '',
        bed: 0,
        bath: 0,
        buildingSize: 0,
        yearBuilt: 1983,
        propertySize: 0,
        numbersOfFloors: 0,
        propertyType: '',
        propertyType2: '',
      },
      rules: {
        address: [
          v => !!v || 'Address is required'
        ],
        apt: [
          v => !!v || 'Apt is required'
        ],
        numbers: [
          v => !!v || v === 0 || 'Field is required',
          v => /\d/g.test(v) || 'Field must be number',
        ]
      },
      formValid: false
    }
  },
  computed: {
    selling: {
      get: function() {
        return this.$store.state.form.selling;
      },
      set: function(selling) {
        this.$store.commit(
                'form/SET_SELLING',
                selling
        );
      }
    },
  },
  methods: {
    onCheckCardItem(value) {
      this.$swal(value ? 'You checked!' : 'You unchecked!', '', value ? 'success' : 'error')
    },
    setFormCorrecting(corrected) {
      if (corrected) {
        if (this.$refs.form.validate()) {
          this.$swal('Success!', '', 'success')
        }
      } else {
        this.$refs.form.reset()
      }
    }
  },
  watch: {
    selling(value) {
      this.$swal(value ? 'Selling!' : 'Buying!', '', 'success')
    }
  }
}
</script>
