<template>
  <v-app>
    <v-app-bar
            color="primary"
            dark
    >

      <v-btn class="mr-2" to="/">
        Card
      </v-btn>

      <v-btn to="/form">
        Form
      </v-btn>
    </v-app-bar>

    <nuxt/>
  </v-app>
</template>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
</style>

